@import "./var.scss";

* {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 13px;
  font-family: $fontDefault;

  a {
    color: inherit;
  }
}
