* {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

html {
     overflow-x: hidden;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.absolute-centered {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);

    figure {
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
}

.flex-centered {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
        height: fit-content;
        width: fit-content;
        background-color: #fff;
    }
}

.flex-centered-margin {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;

    figure {
        height: fit-content;
        width: fit-content;
        background-color: #fff;
        margin: auto;
    }
}

.centered-table-cell {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: table-cell;
    vertical-align: middle;

    figure {
        height: fit-content;
        width: fit-content;
        background-color: #fff;
        margin: auto;
    }
}